<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="zens.top - Your one stop ZENCash blockchain explorer">
    <meta name="keywords" content="blockchain, explorer, zencash">
    <meta name="author" content="Kendrick Tan (kendricktan)">

    <link rel="stylesheet" href="//mincss.com/entireframework.min.css">

    <title>{{ title }}</title>

    <style>
        .footer {
            right: 0;
            bottom: 0;
            left: 0;
            padding: 1rem;
            background-color: #000;
            color: #fff;
            text-align: center;
        }

        a{
            color: #4B77BE;
        }
    </style>
</head>

<body>
    <nav data-hide-during-focus "" data-tap-toggle="false" class="nav" tabindex="-1" on-tap="this.focus()">
        <div class="container">
            <a class="pagename current" href="/">zens.top</a>

            <input id="search-query" style="background-color: #fff" type="text" placeholder="tx id or block hash.">
            <input id="search-button" onclick="search()" style="background-color: #ecf0f1" type="submit" value="Search">
        </div>
    </nav>

    <div class="container">
        {% block content %} {% endblock %}
    </div>

    <br/>

    <div class="footer">
        <p>zens.top &copy; 2017 | MIT Licensed</p>
        <p>Built by Kendrick Tan - <a href="https://github.com/kendricktan/zenstop">source code</a> </p>
        </footer>

        <script>
            // Search functionality
            function search() {
                var q = document.getElementById('search-query').value;
                q = q.replace('/', '')

                if (q.startsWith('00000')) {
                    window.location = '/block/' + q;
                }
                else {
                    window.location = '/tx/' + q;
                }
            }

            // Hit enter
            document.getElementById('search-query').onkeypress = function (e) {
                if (e.keyCode == 13) {
                    document.getElementById('search-button').click();
                }
            }
        </script>
</body>

</html>