{% extends "base.html" %} {% block content %}
<div class="row">
    <div class="col c8">
        <h3>
            Latest blocks
        </h3>
    </div>

    <div class="col c4">
        <h3>
            Extra Info
            <table class="table">
                <tbody>
                    <tr>
                        <td>Blocks</td>
                        <td>{{ blocks }}</td>
                    </tr>
                    <tr>
                        <td>Difficulty</td>
                        <td>{{ difficulty }}</td>
                    </tr>
                    <tr>
                        <td>Network Sol/s</td>
                        <td>{{ networksolps }}</td>
                    </tr>
                    <tr>
                        <td>Network Hash/s</td>
                        <td>{{ networkhashps }}</td>
                    </tr>
                </tbody>
            </table>
        </h3>
    </div>
</div>
{% endblock %}