{% extends "base.html" %} {% block content %}
<div class="row">
    <div class="col c4">
        <h2>Extra Info</h2>
        <table class="table">
            <tbody>
                <tr>
                    <td>blocks</td>
                    <td>{{ mining_info["blocks"] }}</td>
                </tr>
                <tr>
                    <td>difficulty</td>
                    <td>{{ mining_info["difficulty"] }}</td>
                </tr>
                <tr>
                    <td>network sol/s</td>
                    <td>{{ mining_info["networksolps"] }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col c8">
    </div>

    <div class="col c12">
        <h2>Latest Blocks</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>height</th>
                    <th>timestamp</th>
                    <th>num tx</th>
                    <th>size</th>
                </tr>
            </thead>
            <tbody>
                {% for block in latest_blocks %}
                <tr>
                    <td><a href='/block/{{ block["hash"] }}'>{{ block["height"] }}</a></td>
                    <td>{{ epoch_to_datetime(block["time"]) }}</td>
                    <td>{{ block["tx"]|length }}</td>
                    <td>{{ block["size"] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    

</div>
{% endblock %}